.Navbar {
  background-color: #fcf598;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.Navbar h1 {
  margin: 0;
}

.Navbar ul {
  margin-bottom: auto;
  list-style: none;
  display: flex;
  gap: 50px;
}

.Navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: arial;
}

body {
  background-image: url("../assets/ImageCagnotte.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.formulaire-cagnotte {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 40px 20px;
  margin-left: 630px;
  padding: 40px;
  background-color: #f8f8f8;
  border: 3px solid #fcf598;
  border-radius: 20px;
}

.formulaire-cagnotte button[type="submit"]:hover {
  background-color: #f8d31e;
}

.formulaire-cagnotte a {
  text-decoration: none;
  color: #000000;
}

.infoBulle {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.infoBulle-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  border: 1px solid #ccc;
  position: relative;
}

.infoBulle-icon {
  display: inline-block;
  margin-bottom: 0px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #fcf598;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 0px;
}

ul {
  list-style: none;
  margin-bottom: 50px;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

label {
  font-weight: arial;
  margin-left: -50px;
}

input[type="text"] {
  font-family: Arial;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea[id="description"] {
  font-family: Arial;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: -50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

button[type="submit"] {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #fcf598;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* Ajoutez d'autres styles selon vos besoins */

.resume-cagnotte {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background-color: #f8f8f8;
  border: 3px solid #fcf598;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.resume-cagnotte:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.resume-cagnotte h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  color: #333;
}

.resume-cagnotte ul {
  list-style: none;
  margin-bottom: 50px;
  padding-left: 0;
}

.resume-cagnotte li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px;
  color: #666;
}

.resume-cagnotte li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000; /* Couleur des puces */
  transition: background-color 0.3s ease-in-out;
}

.resume-cagnotte li:last-child:before {
  height: 20px;
  background-color: transparent;
}

.resume-cagnotte li:before,
.resume-cagnotte li:after {
  content: "";
  position: absolute;
  left: 5px;
  width: 1px;
  background-color: #000000;
}

.resume-cagnotte .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.resume-cagnotte li:after {
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
}

.resume-cagnotte li:hover:before {
  background-color: #f8d31e;
}

.resume-cagnotte button[type="submit"] {
  display: block;
  width: 48%;
  padding: 10px;
  background-color: #fcf598;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.resume-cagnotte button[type="submit"]:hover {
  background-color: #f8d31e;
}

.resume-cagnotte .button-container .button-valider {
  margin-right: auto;
}

.resume-cagnotte .button-container .button-retour {
  margin-left: auto;
}

/* Ajoutez d'autres styles selon vos besoins */

.cagnotte-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  backdrop-filter: blur(5px);
}

.success-message {
  text-align: center;
  margin-bottom: 20px;
}

.success-message h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.success-message p {
  font-size: 20px;
  margin-bottom: 10px;
}

